
{% extends "chitrakatha/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-10 col-sm-offset-1" id="show-image">
  <div class="show-image-title"> <b>{{ title | title }}</b></div><br>
  <div class="delete-question">Do you want to delete it?</div>
  <a href='{% url "chitrakatha:imagedelete" id=id %}'><button class="buttondelete"> Yes </button></a>
  <a href='{% url "chitrakatha:viewpage" %}'><button class="buttondelete"> No</button></a>
  <div class="col-sm-12">
    <div class="show-imagescaption">

      {% for img in image_list %}

      <a href='{% url "chitrakatha:imagedetail" id=img.id %}'>
          <img src="/media/{{ img.image }}/" />
          </a>
          <div class="caption-title">
          {% for cap in object_list %}

          {% if cap.id == img.id %}
          {{ cap.image_caption }}
          {% endif %}


          {% endfor %}
            </div>
      {% endfor %}


    </div>

</div>

</div>

{% endblock %}
