
{% extends "chitrakatha/base.html" %}
{% load staticfiles %}
{% block content %}
<style>
    .captionimages img{
      height: 100%;
      width: 70%;
      margin-top: 2%;
      margin-left: 15%;
    }
    .captiontitle{
      padding: 1% 20%;
      font-size: 16px;
    }
    .blog-image-title{
      padding: 1% 15%;
      font-size: 28px;
      font-weight: 600;
    }
    .blog-image-desc{
      padding: 1% 15%;
      font-size: 16px;
    }
    #blog{
      background-color: #fff;
    }
</style>
<div class="col-sm-8 col-sm-offset-2" id="blog">
  <div class="blog-image-title"><b>{{ title | title }}</b></div><br>
  <div class="blog-image-desc"><p>{{ instance.Description | linebreaks}} </p></div>

    <div class="captionimages">

      {% for img in image_list %}


      <a href='{% url "chitrakatha:addcaption" id=img.id %}'>
          <img src="/media/{{ img.image }}/" />
          </a>

          {% for cap in object_list %}
          <div class="captiontitle">
          {% if cap.id == img.id %}
          {{ cap.image_caption }}
          {% endif %}
        </div>
        {% endfor %}

      {% endfor %}

    </div>


</div>

{% endblock %}
