{% extends "admin/base.html" %}
{% load staticfiles %}
{% block content %}
<style>
    textarea{
      height: 350px;
      width: 900px;
    }
    #id_place{
      width: 20%;
    }
    form{
      width: 80%;
      margin-top: 2%;
    }
    #id_photo_caption1,#id_photo_caption2, #id_photo_caption3, #id_photo_caption4, #id_photo_caption5,#id_photo_caption6,
    #id_photo_caption7,#id_photo_caption8,#id_photo_caption9, #id_photo_caption10{
      width: 45%;
      margin-top: 3%;
    }

</style>
<div class="col-md-12 col-md-offset-2">
<form id="post_form" method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}
      {{ form1.as_p }}
      {{ form2.as_p }}


    <input type="submit" name="submit" value="Submit" />
</form>
</div>
{% endblock %}
